<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}" />
    <title>{% block title %}Stamar FKlim Tanjung Priok Dashboard{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  </head>
  <body>
    <main>
      <div class="background"></div>
      <nav class="navbar navbar-expand-lg">
        <div class="container d-flex align-items-center justify-content-between">
          <a href="/" class="d-flex align-items-center text-decoration-none">
              <img src="{{ url_for('static', filename='images/logo.png') }}" style="width: 60px; padding-right: 20px;" alt="Logo">
              <h3 class="mainColor text-decoration-none mb-0">Dashboard FKlim Stamar Tanjung Priok</h3>
          </a>
          
          <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fa-solid fa-bars"></i>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto d-flex align-items-center">
                  <li class="nav-item" id="navbarEmailContainer" style="display: none;">
                      <span id="navbarEmail" class="me-3"></span> <!-- Email will appear here -->
                  </li>
                  <li class="nav-item">
                      <a class="btn btn-main me-2" id="logInBtn" href="/login" style="display: none;">Log in</a>
                      <a class="btn btn-main" id="logOutBtn" href="/" style="display: none;">Log out</a>
                  </li>
              </ul>
          </div>
        </div>      
      </nav>

      {% block content %}{% endblock %}

      <div class="container" style="padding-bottom: 200px;"></div>
      <footer style="background-color: rgb(253, 253, 253) !important; padding: 100px 0;">
        <div class="container" style="margin-top: -40px;">
          <div class="row">
            <div class="col-12 col-md-3">
              <h3 class="footer-head">BMKG Tanjung Priok</h3>
              <p>Padamarang No. 4A, Tanjung Priok<br>Jakarta Utara<br>Jakarta 14310</p>
              <p>Telp/Fax: (021) 43901650</p>
              <p>Email: bmkgtanjungpriok@gmail.com</p>
            </div>
          
            <div class="col-12 col-md-3">
              <h3 class="footer-head">Link Terkait</h3>
              <ul class="menu">
                <li><a href="#">Maritim BMKG</a></li>
                <li><a href="#">BIG</a></li>
                <li><a href="#">KKP</a></li>
                <li><a href="#">Pusdiklat BMKG</a></li>
                <li><a href="#">STMKG</a></li>
                <li><a href="#">INSPEKTORAT BMKG</a></li>
              </ul>
            </div>
          
            <div class="col-12 col-md-3">
              <h3 class="footer-head">Media Sosial</h3>
              <ul class="list-unstyled d-flex">
                <li><a href="#" class="me-3"><img src="{{ url_for('static', filename='images/facebook.png') }}" alt="Facebook" style="width: 24px; height: 24px;"></a></li>
                <li><a href="#" class="me-3"><img src="{{ url_for('static', filename='images/twitter.png') }}" alt="Twitter" style="width: 24px; height: 24px;"></a></li>
                <li><a href="#" class="me-3"><img src="{{ url_for('static', filename='images/instagram.png') }}" alt="Instagram" style="width: 24px; height: 24px;"></a></li>
                <li><a href="#" class="me-3"><img src="{{ url_for('static', filename='images/whatsapp.png') }}" alt="Whatsapp" style="width: 24px; height: 24px;"></a></li>
              </ul>
              <a href="https://play.google.com/store/apps/details?id=com.bmkgsiaplayar" target="_blank"><img src="{{ url_for('static', filename='images/playstore.png') }}" width="200"></a> 
            </div>
          
            <div class="col-12 col-md-3">
              <h3 class="footer-head">Media</h3>
              <iframe width="100%" height="200" src="https://www.youtube.com/embed/68lXvnn7qWc"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="border-radius: 10px;"></iframe>
            </div>
          </div>
        </div>
        <div class="footer-content text-center" style="background-color: #e0e0e0; padding: 20px; margin-top: 40px;">
          <a href="https://bmkgtanjungpriok.info/" class="text-dark">
            &copy; Copyright <strong>Magang BMKG Priok 2024</strong>. All rights reserved.
          </a>
        </div>
      </footer>

    </main>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sweetalert.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <script>
      window.addEventListener('DOMContentLoaded', function() {
          const accessToken = localStorage.getItem('access_token');
          const email = localStorage.getItem('email');
  
          if (accessToken) {
              document.getElementById('logInBtn').style.display = 'none';
              document.getElementById('logOutBtn').style.display = 'block';
              document.getElementById('navbarEmailContainer').style.display = 'block';
              document.getElementById('navbarEmail').innerText = email || 'User';
          } else {
              document.getElementById('logInBtn').style.display = 'block';
              document.getElementById('logOutBtn').style.display = 'none';
              document.getElementById('navbarEmailContainer').style.display = 'none';
          }
  
          document.getElementById('logOutBtn').addEventListener('click', function() {
              localStorage.removeItem('access_token');
              localStorage.removeItem('refresh_token');
              localStorage.removeItem('email');
              window.location.href = '/login';
          });
      });
    </script>
  </body>
</html>