{% extends "base.html" %}
{% block title %}Beranda{% endblock %}
{% block content %}

<div style="display: flex; flex-direction: row; width: 100%;">
    <div style="display: flex; flex-direction: column; width: 75%;">
        <section class="py-5" style="margin: 0; padding-left: 93px; width: 100%;">
            <a href="#" id="dataLink" style="text-decoration: none;">
                <div id="homeBox" class="boxContainer text-center rounded-3" style="width: 100%; margin: 0; flex-grow: 1;">
                    <h1 class="my-5">Upload Data</h1>
                </div>
            </a>
        </section>

        <section style="padding-left: 93px;">
            <div style="width: 100%; display: flex; justify-content: flex-start;">
                <a href="#" id="tahunanLink" style="text-decoration: none;">
                    <div id="homeBox" class="boxContainer text-center p-3 p-md-5 rounded-3" style="margin-right: 15px;">
                        <h1 class="my-5">Tahunan</h1>
                    </div>
                </a>
                <a href="#" id="bulananLink" style="text-decoration: none;">
                    <div id="homeBox" class="boxContainer text-center p-3 p-md-5 rounded-3">
                        <h1 class="my-5">Bulanan</h1>
                    </div>
                </a>
            </div>
        </section>
    </div>

    <div style="display: flex; align-items: center; width: 25%; margin-left: -320px;">
        <p style="text-align: center; font-size: 28px; font-weight: 600; white-space: nowrap;">
            <strong>Dashboard FKlim</strong> - 
            <span class="txt-rotate" 
                  style="width: 250px; text-align: left; display: inline-block;"
                  data-period="2000"
                  data-rotate='[ "Data Efficiency.", "Real-Time Analytics.", "Built with Flask.", "Library Chart JS", "Automated Pipeline." ]'></span>
        </p>
    </div>
    <div style="display: flex; align-items: center; width: 25%; margin-left: -370px; margin-top: 80px;">
        <p style="text-align: center; font-size: 20px; font-weight: 500; white-space: nowrap;">
            <strong>Data iklim terbaru tersimpan pada: </strong>
            <span class="txt-rotate" 
                  style="width: 250px; text-align: left; display: inline-block;"
                  data-period="2000"
                  data-rotate='[ "{{ last_update }}" ]'></span>
        </p>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#tahunanLink').on('click', function(e) {
            e.preventDefault();
            Swal.fire({
                title: 'Dashboard Iklim Tahunan',
                html:
                    '<p>Silahkan masukkan tahun awal dan tahun akhir (opsional) untuk melihat iklim tahunan.</p>' +
                    '<div style="margin-bottom: 10px;">' +
                        '<strong>Tahun Awal</strong>' +
                        '<input id="swal-input1" class="swal2-input" style="margin-top: 5px;" placeholder="Masukkan tahun">' +
                    '</div>' +
                    '<div>' +
                        '<strong>Tahun Akhir (opsional)</strong>' +
                        '<input id="swal-input2" class="swal2-input" style="margin-top: 5px;" placeholder="Masukkan rentang tahun akhir">' +
                    '</div>',
                focusConfirm: false,
                showCancelButton: true,
                confirmButtonText: 'Ok',
                cancelButtonText: 'Batal',
                preConfirm: () => {
                    const tahunAwal = document.getElementById('swal-input1').value;
                    const tahunAkhir = document.getElementById('swal-input2').value;

                    if (!tahunAwal) {
                        Swal.showValidationMessage('Tahun Awal harus diisi');
                        return false;
                    }

                    if (!/^\d+$/.test(tahunAwal)) {
                        Swal.showValidationMessage('Tahun Awal harus berupa angka');
                        return false;
                    }

                    if (tahunAkhir && !/^\d+$/.test(tahunAkhir)) {
                        Swal.showValidationMessage('Tahun Akhir harus berupa angka');
                        return false;
                    }

                    return [tahunAwal, tahunAkhir];
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    const [tahunAwal, tahunAkhir] = result.value;
                    let url = '/tahunan?tahun_awal=' + tahunAwal;
                    if (tahunAkhir) {
                        url += '&tahun_akhir=' + tahunAkhir;
                    }
                    Swal.fire({
                        title: 'Sedang Memproses Data Tahunan...',
                        text: 'Kami sedang mengambil data yang Anda butuhkan. Mohon bersabar, ya! 🧑‍🍳',
                        allowOutsideClick: false,
                        didOpen: () => {
                            Swal.showLoading();
                        }
                    });

                    setTimeout(() => {
                        window.location.href = url;
                    }, 1000);
                }
            });
        });
        
        $('#bulananLink').on('click', function(e) {
            e.preventDefault();
            Swal.fire({
                title: 'Dashboard Iklim Bulanan',
                html:
                    '<p>Silahkan masukkan tahun awal, tahun akhir (opsional), bulan awal, dan bulan akhir (opsional) untuk melihat iklim bulanan.</p>' +
                    '<div style="margin-bottom: 10px;">' +
                        '<strong>Tahun Awal</strong>' +
                        '<input id="swal-input1" class="swal2-input" style="margin-top: 5px;" placeholder="Masukkan Tahun Awal">' +
                    '</div>' +
                    '<div style="margin-bottom: 10px;">' +
                        '<strong>Tahun Akhir (opsional)</strong>' +
                        '<input id="swal-input2" class="swal2-input" style="margin-top: 5px;" placeholder="Masukkan Tahun Akhir">' +
                    '</div>' +
                    '<div style="margin-bottom: 10px;">' +
                        '<strong>Bulan Awal (1-12)</strong>' +
                        '<input id="swal-input3" class="swal2-input" style="margin-top: 5px;" placeholder="Masukkan Bulan Awal">' +
                    '</div>' +
                    '<div>' +
                        '<strong>Bulan Akhir (opsional, 1-12)</strong>' +
                        '<input id="swal-input4" class="swal2-input" style="margin-top: 5px;" placeholder="Masukkan Bulan Akhir">' +
                    '</div>',
                focusConfirm: false,
                showCancelButton: true,
                confirmButtonText: 'Ok',
                cancelButtonText: 'Batal',
                preConfirm: () => {
                    const tahunAwal = document.getElementById('swal-input1').value;
                    const tahunAkhir = document.getElementById('swal-input2').value;
                    const bulanAwal = document.getElementById('swal-input3').value;
                    const bulanAkhir = document.getElementById('swal-input4').value;

                    if (!tahunAwal || !bulanAwal) {
                        Swal.showValidationMessage('Tahun Awal dan Bulan Awal harus diisi');
                        return false;
                    }

                    if (!/^\d+$/.test(tahunAwal) || (tahunAkhir && !/^\d+$/.test(tahunAkhir))) {
                        Swal.showValidationMessage('Tahun harus berupa angka');
                        return false;
                    }

                    if (!/^\d+$/.test(bulanAwal) || (bulanAkhir && !/^\d+$/.test(bulanAkhir))) {
                        Swal.showValidationMessage('Bulan harus berupa angka');
                        return false;
                    }

                    if (bulanAwal < 1 || bulanAwal > 12 || (bulanAkhir && (bulanAkhir < 1 || bulanAkhir > 12))) {
                        Swal.showValidationMessage('Bulan harus di antara 1 dan 12');
                        return false;
                    }

                    return [tahunAwal, tahunAkhir, bulanAwal, bulanAkhir];
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    const [tahunAwal, tahunAkhir, bulanAwal, bulanAkhir] = result.value;
                    let url = '/bulanan?tahun_awal=' + tahunAwal + '&bulan_awal=' + bulanAwal;
                    if (tahunAkhir) {
                        url += '&tahun_akhir=' + tahunAkhir;
                    }
                    if (bulanAkhir) {
                        url += '&bulan_akhir=' + bulanAkhir;
                    }

                    Swal.fire({
                        title: 'Sedang Memproses...',
                        text: 'Kami sedang mengambil data bulanan yang Anda pilih. Mohon tunggu sebentar! 🤖',
                        allowOutsideClick: false,
                        didOpen: () => {
                            Swal.showLoading();
                        }
                    });

                        setTimeout(() => {
                        window.location.href = url;
                    }, 1000);
                }
            });
        });
    });
</script>
<script>
    document.getElementById('dataLink').addEventListener('click', function(event) {
        event.preventDefault(); 
        const isLoggedIn = localStorage.getItem('access_token');

        if (!isLoggedIn) {
            Swal.fire({
                title: 'Oops!',
                text: 'Kamu perlu login terlebih dahulu!',
                icon: 'warning',
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'Baik',
                cancelButtonText: 'Lain kali',
                allowOutsideClick: false,
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/login';
                }
            });
        } else {
            window.location.href = '/'; 
        }
    });
</script>
<script>
    var TxtRotate = function(el, toRotate, period) {
      this.toRotate = toRotate;
      this.el = el;
      this.loopNum = 0;
      this.period = parseInt(period, 10) || 2000;
      this.txt = '';
      this.tick();
      this.isDeleting = false;
    };
    
    TxtRotate.prototype.tick = function() {
      var i = this.loopNum % this.toRotate.length;
      var fullTxt = this.toRotate[i];
    
      if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
      } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
      }
  
      this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';
  
      var that = this;
      var delta = 300 - Math.random() * 100;
  
      if (this.isDeleting) { delta /= 2; }
  
      if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
      } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
      }
  
      setTimeout(function() {
        that.tick();
      }, delta);
    };
    
    window.onload = function() {
      var elements = document.getElementsByClassName('txt-rotate');
      for (var i=0; i<elements.length; i++) {
        var toRotate = elements[i].getAttribute('data-rotate');
        var period = elements[i].getAttribute('data-period');
        if (toRotate) {
          new TxtRotate(elements[i], JSON.parse(toRotate), period);
        }
      }
      // INJECT CSS
      var css = document.createElement("style");
      css.type = "text/css";
      css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid #666 }";
      document.body.appendChild(css);
    };
</script>
{% endblock %}