{% extends "base.html" %}
{% block title %}Log in{% endblock %}
{% block content %}
<section class="py-5">
  <div class="container">
    <div id="loginBox" class="boxContainer text-center p-3 p-md-5 rounded-2">
      <h1 class="my-5">Dashboard Login</h1>
      <div class="inputsForm">
        <input type="email" id="loginEmail" class="form-control" placeholder="Enter your email" required />
        <input type="password" id="loginPassword" class="form-control mt-3" placeholder="Enter your password" required />
        <button id="loginBtn" class="btn btn-main my-4 w-100">Log in</button>
        <div class="signupText d-flex justify-content-center mt-1">
          <p>Tidak punya akun?</p>
          <a class="text-decoration-none" id="signupAnchor">Hubungi Kami Jika Ingin Daftar Akun</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- login.html -->
<script>
  document.getElementById('loginBtn').addEventListener('click', function() {
    const email = document.getElementById('loginEmail').value;
    const password = document.getElementById('loginPassword').value;

    fetch('/api/v1/auth/login', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ email, password })
    })
    .then(response => response.json())
    .then(data => {
      if (data.access_token) {
        // Store tokens and email in localStorage
        localStorage.setItem('access_token', data.access_token);
        localStorage.setItem('refresh_token', data.refresh_token);
        localStorage.setItem('email', data.email); // Store email in localStorage
        window.location.href = '/'; // Redirect to dashboard or home page
      } else {
        alert('Invalid login credentials');
      }
    });
  });
</script>

{% endblock %}
