{% extends "base.html" %}
{% block title %}Tahunan{% endblock %}
{% block content %}

<div class="container" style="margin-top: 40px; margin-bottom: 20px;">
    <h1 class="text-center">{{ title }}</h1>
</div>
<div class="container" style="margin-top: 40px;">
    <div class="card" style="border-radius: 15px; background-color: white; padding: 20px;">
        <h3 class="text-center" style="padding-bottom: 20px;">Kaleidoskop Data Iklim</h3>
        
        <!-- Baris pertama: Curah Hujan dan Tekanan Udara -->
        <div class="row mb-4">
            {% for kpi in kpi_data %}
                {% if 'Curah Hujan' in kpi.parameter or 'Tekanan Udara' in kpi.parameter %}
                    <div class="col-md-6 mb-4">
                        <div class="card" style="border-radius: 15px; background-color: {% if 'Tertinggi' in kpi.parameter %}rgba(195, 252, 255, 0.6){% else %}rgba(195, 252, 255, 0.2){% endif %};">
                            <div class="card-body text-center">
                                <h5 class="card-title">{{ kpi.parameter }}</h5>
                                <hr>
                                <h2 class="font-weight-bold">{{ add_unit(kpi.parameter, kpi.nilai) }}</h2>
                                <p class="card-text">{{ kpi.tanggal }}</p>
                                <p class="card-text">{{ kpi.cuaca }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <!-- Baris-baris berikutnya: Parameter lainnya -->
        <div class="row">
            {% for kpi in kpi_data %}
                {% if not ('Curah Hujan' in kpi.parameter or 'Tekanan Udara' in kpi.parameter) %}
                    <div class="col-md-3 mb-4">
                        <div class="card" style="border-radius: 15px; background-color: {% if 'Tertinggi' in kpi.parameter %}rgba(195, 252, 255, 0.8){% else %}rgba(195, 252, 255, 0.2){% endif %};">
                            <div class="card-body text-center">
                                <h5 class="card-title">{{ kpi.parameter }}</h5>
                                <hr>
                                <h2 class="font-weight-bold">{{ add_unit(kpi.parameter, kpi.nilai) }}</h2>
                                <p class="card-text">{{ kpi.tanggal }}</p>
                                <p class="card-text">{{ kpi.cuaca }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="container" style="margin-top: 40px;">
    <div class="card" style="border-radius: 15px; background-color: white; padding: 20px;">
        <div class="row">
            {% for month, data in wind_rose_data.items() %}
            <div class="col-md-6 mb-4">
                <h4>{{ month }}</h4>
                <div class="card" style="border-radius: 15px; background-color: white;">
                    <div class="card-body">
                        <canvas id="windRoseChart_{{ month }}" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
        <div class="d-flex justify-content-center mb-4">
            <div class="row">
                <div class="card" style="border-radius: 15px; background-color: white; width: 1100px; height: 600px;">
                    <div class="card-body d-flex flex-column align-items-center justify-content-center" style="height: 100%;">
                        <h3 class="text-center mb-4">Rata-rata Kecepatan Angin</h3>
                        <canvas id="kecepatanAnginChart" width="100" height="50"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 40px;">
    <div class="card" style="border-radius: 15px; background-color: white; padding: 20px;">
        <div class="d-flex justify-content-center mb-4">
            <div class="row">
                <div class="card" style="border-radius: 15px; background-color: white; width: 1100px; height: 600px;">
                    <div class="card-body d-flex flex-column align-items-center justify-content-center" style="height: 100%;">
                        <h3 class="text-center mb-4">Suhu Udara</h3>
                        <canvas id="suhuChart" width="1000" height="500"></canvas>
                    </div>
                </div>
            </div>
        </div>        
        
        
        <div class="d-flex justify-content-center mb-4" style="padding-top: 30px;">
            <div class="card mx-2" style="width: 600px; height: 400px; border-radius: 15px; background-color: white;">
                <div class="card-body">
                    <h3 class="text-center">Kelembapan Udara</h3>
                    <canvas id="kelembapanChart" width="500" height="300"></canvas>
                </div>
            </div>
            <div class="card mx-2" style="width: 600px; height: 400px; border-radius: 15px; background-color: white;">
                <div class="card-body">
                    <h3 class="text-center">Tekanan Udara</h3>
                    <canvas id="tekananChart" width="500" height="300"></canvas>
                </div>
            </div>
        </div>        

    </div>
</div>


<div class="container" style="margin-top: 40px;">
    <div class="card" style="border-radius: 15px; background-color: white; padding: 20px;">
        <div class="d-flex justify-content-center mb-4">
            <div class="row">
                <div class="card" style="border-radius: 15px; background-color: white; width: 1100px; height: 600px;">
                    <div class="card-body d-flex flex-column align-items-center justify-content-center" style="height: 100%;">
                        <h3 class="text-center mb-4">Akumulasi Hujan</h3>
                        <canvas id="akumulasicurahHujanChart" width="1000" height="500"></canvas>
                    </div>
                </div>
            </div>
        </div>        
        
        
        <div class="d-flex justify-content-center mb-4" style="padding-top: 30px;">
            <div class="card mx-2" style="width: 600px; height: 400px; border-radius: 15px; background-color: white;">
                <div class="card-body">
                    <h3 class="text-center">Curah Hujan Maksimum</h3>
                    <canvas id="curahHujanMaksChart" width="500" height="300"></canvas>
                </div>
            </div>
            <div class="card mx-2" style="width: 600px; height: 400px; border-radius: 15px; background-color: white;">
                <div class="card-body">
                    <h3 class="text-center">Lama Penyinaran Matahari</h3>
                    <canvas id="sinarMatahariChart" width="500" height="300"></canvas>
                </div>
            </div>
        </div>        

    </div>
</div>

<div class="container" style="margin-top: 40px;">
    <div class="card" style="border-radius: 15px; background-color: white; padding: 20px;">
        <div class="d-flex justify-content-center mb-4">
            <div class="card" style="border-radius: 15px; background-color: white; width: 100%;">
                <div class="card-body d-flex flex-column align-items-center">
                    <h3 class="text-center mb-4">Persentase Kejadian Cuaca</h3>
                    <div style="width: 700px; height: 700px;">
                        <canvas id="cuaca"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    document.addEventListener('DOMContentLoaded', function() {
        // Data dari server
        const windRoseData = {{ wind_rose_data|tojson }};
        const kecepatanAnginData = {{ kecepatan_angin_data|tojson }};
        const suhuData = {{ suhu_data|tojson }};
        const kelembapanData = {{ kelembapan_data|tojson }};
        const tekananData = {{ tekanan_data|tojson }};
        const sinarMatahariData = {{ matahari_data|tojson }};
        const akumulasiHujanData = {{ akumulasi_hujan|tojson }};
        const hujanMaks = {{ maks_hujan|tojson }};
        const cuacaData = {{ cuaca_data|tojson }};

        // viz wind rose
        Object.keys(windRoseData).forEach(function(month) {
            const ctx = document.getElementById(`windRoseChart_${month}`).getContext('2d');
            const data = windRoseData[month]['datasets'][0]['data'];
            const labels = windRoseData[month]['labels'];

            // Definisikan rentang kecepatan angin dan warna yang sesuai
            const ranges = [
                { max: 5, color: 'rgba(255, 0, 0, ' },
                { max: 10, color: 'rgba(255, 165, 0, ' },
                { max: 15, color: 'rgba(255, 255, 0, ' },
                { max: 20, color: 'rgba(144, 238, 144, ' },
                { max: 25, color: 'rgba(0, 128, 0, ' },
                { max: Infinity, color: 'rgba(0, 255, 255, ' }
            ];

            // Buat dataset untuk setiap rentang
            const datasets = ranges.map((range, index) => {
                return {
                    label: `${index === 0 ? '0' : ranges[index-1].max} - ${range.max} km/h`,
                    data: data.map(value => value > range.max ? range.max : (value < (index === 0 ? 0 : ranges[index-1].max) ? null : value)),
                    backgroundColor: range.color + '0.6)',
                    borderColor: range.color + '1)',
                    borderWidth: 1,
                    fill: true
                };
            });

            new Chart(ctx, {
                type: 'radar',
                data: {
                    labels: labels,
                    datasets: datasets
                },
                options: {
                    responsive: true,
                    scales: {
                        r: {
                            angleLines: { display: false },
                            suggestedMin: 0,
                            suggestedMax: 25,
                            ticks: {
                                stepSize: 5,
                                callback: function(value) {
                                    return value + ' km/h';
                                }
                            },
                            pointLabels: {
                                callback: function(label, index) {
                                    if (index % 45 === 0) {
                                        const directions = ['N', 'NE', 'E', 'SE', 'S', 'SW', 'W', 'NW'];
                                        return directions[index / 45];
                                    }
                                    return '';
                                }
                            }
                        }
                    },
                    plugins: {
                        legend: { position: 'top' },
                        filler: {
                            propagate: false
                        }
                    },
                    elements: {
                        line: {
                            tension: 0 // membuat garis lurus
                        }
                    }
                }
            });
        });
        
        // Chart Kecepatan Angin
        new Chart(document.getElementById('kecepatanAnginChart'), {
            type: 'line',
            data: kecepatanAnginData,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom',
                    },
                    title: {
                        display: true,
                    },
                    datalabels: {
                        display: true,
                        color: 'black',
                        align: 'top',
                        formatter: function(value, context){
                            return value.toFixed(2);
                        }
                    }
                }
            },
            plugins: [ChartDataLabels]
        });

        // Chart Suhu Udara
        new Chart(document.getElementById('suhuChart'), {
            type: 'line',
            data: suhuData,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom',
                    },
                    title: {
                        display: true,
                    },
                    datalabels: {
                        display: true,
                        color: 'black',
                        align: 'top',
                        font: {
                            size: 9
                        },
                        formatter: function(value, context){
                            return value.toFixed(2);
                        }
                    }
                }
            },
            plugins: [ChartDataLabels]
        });

        // Chart Kelembapan Udara
        new Chart(document.getElementById('kelembapanChart'), {
            type: 'line',
            data: kelembapanData,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom',
                    },
                    title: {
                        display: true,
                    },
                    datalabels: {
                        display: true,
                        color: 'black',
                        align: 'top',
                        font: {
                            size: 10
                        },
                        formatter: function(value, context){
                            return value.toFixed(2);
                        }
                    }
                }
            },
            plugins: [ChartDataLabels]
        });

        // Chart Tekanan Udara
        new Chart(document.getElementById('tekananChart'), {
            type: 'line',
            data: tekananData,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom',
                    },
                    title: {
                        display: true,
                    },
                    datalabels: {
                        display: true,
                        color: 'black',
                        align: 'top',
                        font: {
                            size: 10
                        },
                        formatter: function(value, context){
                            return value.toFixed(2);
                        }
                    }
                }
            },
            plugins: [ChartDataLabels]
        });

        new Chart(document.getElementById('sinarMatahariChart'), {
            type: 'bar',
            data: sinarMatahariData,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom',
                    },
                    title: {
                        display: true,
                    },
                    datalabels: {
                        display: true,
                        color: 'black',
                        align: 'top',
                        anchor: 'end',
                        formatter: function(value, context){
                            return value.toFixed(2);
                        }
                    }
                }
            },
            plugins: [ChartDataLabels]
        });

        // Chart Akumulasi Curah Hujan
        new Chart(document.getElementById('akumulasicurahHujanChart'), {
            type: 'bar',
            data: akumulasiHujanData,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom',
                    },
                    title: {
                        display: true,
                    },
                    datalabels: {
                        display: true,
                        color: 'black',
                        align: 'top',
                        anchor: 'end',
                        formatter: function(value, context){
                            return value.toFixed(2);
                        }
                    }
                }
            },
            plugins: [ChartDataLabels]
        });

        new Chart(document.getElementById('curahHujanMaksChart'), {
            type: 'bar',
            data: hujanMaks,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom',
                    },
                    title: {
                        display: true,
                    },
                    datalabels: {
                        display: true,
                        color: 'black',
                        anchor: 'end',
                        align: 'top',
                        formatter: function(value, context){
                            return value.toFixed(2);
                        }
                    }
                }
            },
            plugins: [ChartDataLabels]
        });

        // Pie Chart Persentase Cuaca
        new Chart(document.getElementById('cuaca'), {
            type: 'doughnut',
            data: cuacaData,
            options: {
                responsive: true,
                cutout: '50%',  // Mengatur ukuran lubang (dalam persentase)
                plugins: {
                    legend: {
                        position: 'bottom',
                    },
                    title: {
                        display: true,
                    },
                    datalabels: {
                        display: true,
                        color: 'white',
                        align: 'top',
                        font: {
                            weight: 'bold',
                            size: 20
                        },
                        formatter: function(value, context){
                            return value.toFixed(2) + '%';
                        }
                    }
                }
            },
            plugins: [ChartDataLabels]
        });
    });
</script>
{% endblock %}
